name: external-secrets
repoURL: https://charts.external-secrets.io
chart: external-secrets
targetRevision: 2.4.1
releaseName: external-secrets
namespace: external-secrets
values: |
  installCRDs: true
