name: nfs-provisioner
repoURL: https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner/
chart: nfs-subdir-external-provisioner
targetRevision: 4.0.18
releaseName: nfs-subdir-external-provisioner
namespace: nfs-system
values: |
  nfs:
    server: 192.0.2.10
    path: /export/kubernetes
  storageClass:
    name: nfs-client
    defaultClass: false
    archiveOnDelete: false
