name: external-dns
repoURL: https://kubernetes-sigs.github.io/external-dns/
chart: external-dns
targetRevision: 1.21.1
releaseName: external-dns
namespace: external-dns
values: |
  provider:
    name: cloudflare
  env:
    - name: CF_API_TOKEN
      valueFrom:
        secretKeyRef:
          name: cloudflare-api-token
          key: api-token
  domainFilters:
    - example.com
  txtOwnerId: single-cluster
  sources:
    - ingress
  policy: sync
